<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                    <input type="text" name="title" class="form-control" placeholder="Image title">
                    </div>
                    <div class="form-groput">
                        <textarea name="description" id="" cols="30" rows="10" class="form-control"></textarea>
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" name="image" id="inputGroupFile01" class="custom-file-input">
                            <label for="inputGroupFile01" class="custom-file-label">Choose a file</label>
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">
                        UPLOAD IMAGE
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>